body {
    font-family: "Open Sans", sans-serif;
    }

      
    .menu {
        font-family: "Open Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
        margin: 30px;
        }

       